* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: helvetica, sans-serif;
    -webkit-overflow-scrolling: touch;
}

body {
    padding: 0;
    margin: 0;
    font-size: 14px;
}

input {
    font-size: 20px;
}

img {
    max-width: 100%;
}

.half {
    width: 50%;
    float: left;
    text-align: center;
}

@media screen and (max-width: 479px) {
    .half {
        width: 100%;
    }
}

#image-select img {
    padding: 0;
    margin: 0;
    border: 3px solid lightgray;
    transition: all 0.3s;
}

#image-select img:hover {
    border-color: darkblue;
}

#results-toggle,
#filters-toggle {
    height: 0;
    width: 0;
    visibility: hidden;
}

#results-list,
#user-filters {
    position: fixed;
    width: 100%;
    bottom: 0;
}

#results-list .results-header,
#user-filters .filters-header {
    display: block;
    position: absolute;
    width: 50%;
    padding: 1px 10px;
    font-weight: bold;
    color: white;
    background-color: darkblue;
    -ms-transform: translate(0,-100%); /* IE 9 */
    -webkit-transform: translate(0,-100%); /* Safari */
    transform: translate(0,-100%);
}

#user-filters .filters-header {
    margin-left: 50%;
}

#results-list #results-items,
#user-filters #filter-form {
    height: 0;
    background: white;
    overflow: auto;
    transition: height 0.5s;
}

#filters-toggle:checked + #user-filters #filter-form,
#results-toggle:checked + #results-list #results-items {
    height: 50vh;
}

#results-list .results-item {
    display: block;
    padding: 10px;
    padding-left: 100px;
    margin: 0;
    border-bottom: 1px solid gray;
    text-decoration: none;

    background-color: white;
    background-position: center left;
    background-size: contain;
    background-repeat: no-repeat;
}

#results-list .results-item:hover {
    background-color: lightgray;
}

#user-filters #filter-form > * {
    padding: 15px;
    font-size: 20px;
}
