<div id="image-select" ng-controller="CompareCtrl">
    <div class="half">
        <img ng-src="{{ photo1.src }}" ng-click="click(0)" />
    </div>
    <div class="half">
        <img ng-src="{{ photo2.src }}" ng-click="click(1)" />
    </div>
</div>
<input id="results-toggle" type="checkbox"/>
<div id="results-list" ng-controller="ListCtrl">
    <label for="results-toggle" class="results-header">
        <h2>Results</h2>
    </label>
    <div id="results-items">
        <a class="results-item" href="{{ parent.href }}" target="{{ parent.href }}"
            style="background-image: url('{{ parent.photos[0].src }}')"
            ng-repeat="parent in parents | orderBy:'-ratio'">
            {{ parent.properties.Address.Street }} ${{ parent.properties.CurrentPrice }} ({{ parent.ratio }})
        </a>
    </div>
</div>
<input id="filters-toggle" type="checkbox"/>
<div id="user-filters" ng-controller="FilterCtrl">
    <label for="filters-toggle" class="filters-header">
        <h2>Filters</h2>
    </label>
    <div id="filter-form">
        <div>
            <label>ZIP</label>
            <input type="text" name="p_zip"/>
        </div>
        <div>
            <label>Radius (meters)</label>
            <input type="text" name="p_zipMeters"/>
        </div>
        <div>
            <label>Minimum Price</label>
            <input type="text" name="p_minPrice"/>
        </div>
        <div>
            <label>Maximum Price</label>
            <input type="text" name="p_maxPrice"/>
        </div>
        <div>
            <input type="submit" value="Search" ng-click="filter()"/>
        </div>
    </div>
</div>
